<app-nav></app-nav>


<div class="counter">
  <div class="counterbox">
    <span class="amount">{{ assets.length }}</span>    
    <span class="items">items registered on Symbol</span>
  </div>
  <h2>The first ever collection of digitally represented physical assets, built using Symbol technology.</h2>
  <h2>Each asset is a real, physical item registered as a transferrable Mosaic on Symbol.</h2>
</div>

<div class="assets">
  <div *ngFor="let asset of assets" class="itemcard">
    <div class="itemheader">
        UII: {{ asset.id }}
    </div>
    <img [src]="asset.imageUrl">
    <p class="title">{{ asset.name }}</p>
    <p class="subtitle">{{ asset.description }}</p>
    <div class="itemdetails">
      <!-- <p class="verified">VERIFIED</p> -->
      <span class="registered">REGISTERED ON: 01/01/2021</span>
      <button class="view">VIEW ON SYMBOL</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
